* text=auto eol=lf

bin/*       text eol=lf
*.bash      text eol=lf
*.sh        text eol=lf
*.yml       text eol=lf
*.yaml      text eol=lf
*.md        text eol=lf
LICENSE     text eol=lf
.gitignore  text eol=lf
